.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.navHeader {
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

.logo {
    width: 300px;
}